@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

/*Navbar*/

nav{
    display: flex;
    background-color:white;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: center;
    height: 100px;
    box-shadow: 0px 2px 20px 0px black;
}



.href{
    text-decoration: none;
    font-size: 150%;
    font-family:'Oswald', sans-serif;
    list-style: none;
    padding: 16px 18px;
    cursor: pointer;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.onglet-liens li{
    list-style: none;

}

nav .onglet-liens{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-bottom: black 2px;
    padding: 0;
}

 
.href{
   display: inline-block;
   position: relative;
   color: black;
}
 
.href:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: black;
   transform-origin: bottom right;
   transition: transform 0.35s ease-out;
}
 
.href:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
}

nav ul li{
    float: left;
    text-align: center;
    position: relative;
}



/* 1ère partie: accueil*/
.accueil{
    display: flex;
    flex-direction: column;
    background-image: url(../Photo/notebook-phone-tablet-black-white-office-desk.jpg);
    background-size: cover;
}


.intro{
    color: white;
    font-size: 8vw;
    margin-bottom: 0;
    font-family:'Oswald', sans-serif;
}

.sous_intro{
    color: white;
    font-size: 4vw;
    font-family:'Oswald', sans-serif;
}


/* Présentation myself*/

.presentation{
    margin-top: 10%;
    margin-bottom: 50px;
    display: flex;
    border-bottom: 2px solid #eeeeee;
}

.presentation_photo{
    display: flex;
    border-radius: 15px;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;

}
.presentation_photo img{

    border-radius: 150px;
    border-radius: 100%;
    width: 70%;
}


.presentation_infos{
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.presentation_infos p {
    color: black;
    font-family:'Oswald', sans-serif;
    font-size: 130%;
}

.myself{
    border-top: 1px solid #eeeeee;
    list-style: none;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}


.myself li{
    color: black;
    width: 48%;
    float: left;
    font-family:'Oswald', sans-serif;
    font-size: 130%;
}

.CV{
    color: black;
    font-size: 130%;
    font-family:'Oswald', sans-serif;
    text-decoration: none;
    background-color: white;
    padding: 15px 35px;
    text-align: center;
}


/* Présentation des projets */ 

.annonce_projets{
    font-size: 200%;
}

.projets_cartes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;
}


.carte {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0 10px; 
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.4s ease;
    background-color: #fff;
    opacity: 0; 
    transform: translateY(100px); 
    transition: opacity 1s ease, transform 1s ease;
}

.carte.visible {
    opacity: 1; 
    transform: translateY(0); 
}

.carte:hover {
    transform: scale(1.05);
}

.image-carte {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.4s ease;
}

.flou {
    filter: blur(5px); 
}

.contenu-carte {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    opacity: 1;
    transition: opacity 0.4s ease;
    color: black;
    font-size: 150%;
}

.carte:hover .image-carte {
    filter: blur(0); 
}

.carte:hover .contenu-carte {
    opacity: 0; 
}

.project_title{
    color: black;
    margin-top: 10%;
    text-align: center;
    font-size: 2vw;
}



























footer{
    background-color: white;
    display: flex;
    justify-items: center;
    width: 100%;
    margin-top: 50px;
    align-items: center;
    box-shadow: 0px 9px 20px black;
}

.reseaux a{
   font-size: larger;
   color: whitesmoke;
}

.reseaux a:hover{
    text-decoration: underline;
    color: black;
}

.pages a{
    list-style: none;
    padding: 10px;
    font-size: larger;
    color: black;
    text-decoration: none;
    padding-top: 10px;
}

.pages a:hover{
    text-decoration: underline;
    color: black;
}

.pages li{
    list-style: none;
    text-decoration: none;
    padding-top: 10px;
}



.reseaux , .pages{
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}




@media (max-width: 500px) {
    nav{
        height: 171px;
    }


}


@media(max-width: 500px) {

    .presentation{
        flex-direction: column;
    }
    .presentation_photo img{
        width: 50%;
    }
    .projets_cartes{
        flex-direction: column;
    }
    body {
        font-size: 3vw; 
      }
    .carte {
        margin-bottom: 20px;
    }
    .carte .image-carte {
        filter: blur(0);
    }
}


@media(max-width: 1000px){

    .presentation{
        flex-direction: column;
    }
    .presentation_photo img{
        width: 40%;
    }
}